

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #f9f9f9;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}


/* header  */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
    background-color: red;
}

.nav{
    display: flex;
    align-items: center;
    gap: 26px;
}


.nav a{
    padding: 8px 32px;
    font-size: 14px;
    color: black;
    font-weight: 700;
}

.nav a:hover{
    border-radius: 40px;
    background-color: #4CE0D7;
}


.nav img{
    margin-left: 67px;
}

.logo img {
    width: 234px;
}

/* 1section */


.first-section{
    display: flex;
    flex-direction: column;
    gap: 23px;
    background: url(./assets/img/magazine.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 148px;
    border-radius: 20px;
    max-width: 1272px;
    width: 100%;
}


.first-section h4{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 700;
    color: white;
  
}

.first-section h1{
    font-family: 'poppins';
    font-size: 46px;
    font-weight: 400;
    color: white;
  
}

.first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.first-section p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 494px;
}



/* topics  */

.topics-section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 87px;
}

.topics-section h1{
    font-size: 32px;
    font-weight: 700;
    color: #262626;


}

.topics-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.topic-card{
    display: flex;
    flex-direction: column;
    gap: 20px 85px;
    width: max-content; 
    padding: 51px 30px 30px 30px;
    background-color: #FFFFFF;
    box-shadow: 3px 6px 6px 3px #0000000D;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.topic-card:hover{
    transform: translateY(-15px);
}

.topic-card:hover button{
    background-color: black;
    color: #4CE0D7;
} 


.topic-card button{
    color: #262626;
    padding: 10px 40px;
    background-color: #4CE0D7;
    border-radius: 40px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    border: none;
    
}

.topic-card img{
    width: 110px;
}

/*line class*/

.first-line {
    border: 1px solid #BCBCBC;
    align-items: center;
    margin-bottom: 52.5px;
}

/* fashion section */

.fashion-but a {
    padding: 10px 82px;
    background-color: #262626;
    border-radius: 40px;
    color: white;

}

.fashion-but {
    background-image: url(./assets/img/pexels-sabrina-kennelly-1857000\ 1.png);
    padding: 23.34px 922.4px 299px 47.27px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow:  0px 6px 6px 0px #0000000D;
    
}

.fashion-but:hover {
    transform: translateY(-10px) ;
}

.author {
    display: flex;
   
    align-items: center;
    margin-left: 64px;
    margin-top: 23px;
    margin-bottom: 100px;
}
.author div  {
    display: flex;
    gap: 133px;
    margin-left: 21px; 
}

.author p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color:#BCBCBC;
}
 .author h3 {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #F25E5E;
    margin-left: 460px;
 }


 .author-post {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
 }

 .author-post h1{
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
    margin-bottom: 23px;
    

 }
 .author-post p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#262626;
    width:850px;
    margin-bottom: 30px;
 }

 .read-more a {
    font-family: 'Poppins';
font-size: 12px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.24em;
text-align: left;
color: #4CE0D7;
text-align: center;
display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
 }
 .read-more {
    margin-left: -15px;
    margin-bottom:38px;
 }

 .read-more:hover {
transform: translateX(10px); 
}
